@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700;900&display=swap');

html{
    box-sizing: border-box;
}
  *, *::before, *::after{
    box-sizing: inherit;
}
body{
    font-family: 'Rubik';
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    font-weight: normal;
    color: #4F5665;
    background: #F6F6F6;
}
img{
    max-width: 100%;
    height: auto;
}
.wrapper{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 150px;
}
main {
    background: #F6F6F6;
}
/* Header styles start*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: .2s linear;
    z-index: 999;
    background: #f6f6f6;  
}
.header_active{
    background: #eceaea;
  }
.header__wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    padding-bottom: 10px;
  }
.header__logo {
    display: flex;
    align-items: baseline;   
}
.header__logo-img {
    width: 35px;
    height: 36.23px;
}
.header__logo-name {
    max-width: 103px;
    min-height: 24px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #0B132A;
    margin-left: 10px;
    margin-top: 56.12px;
    cursor: pointer;
}
.header__logo-name span{
    font-weight: 510;
}
.header__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;   
 } 
 .header__item{
    margin-right: 40px; 
 }
 
 .header__item:last-child{
    margin-right: 0;
 }
 .header__link {
    max-width: 46px;
    min-height: 19px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #4F5665;
    text-decoration: none;
 }
.header__link:hover, .header__link:focus, .header__link:active{
  opacity: .75;  
}

.sign-form__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}
.sign-form__in {
    font-weight: 600;
      margin-left: 10px;
}
.sign-form__up {
    margin-left: 10px;
}
.sign-in__link {
    color: #0B132A;
    text-decoration: none;   
}
.sign-in__link:hover, .sign-in__link:focus, .sign-in__link:active{
    opacity: .75;  
  }
.sign-form__up__submit{
    font-weight: 600;
    min-width: 150px;
    min-height: 45px;  
    color: #F53855;
    border: 1px solid #F53855;
    border-radius: 50px; 
    background: #F6F6F6;  
}
.sign-form__up__submit:hover, .sign-form__up__submit:focus, .sign-form__up__submit:active{
    opacity: .90;
    background: #F53838;
    border: none;
    color: white;
    transition: all 0.3s ease;
  }
/* Header styles end*/
/* Burger styles start*/
.header__burger{
    display: none;
    width: 40px;
    height: 28px;
    position: relative;
}
.burger__line{
    display: block;
    width: 100%;
    height: 2px;
    background-color: #F53838;
    position: absolute;
    left: 0;   
}
.burger__line_first{
    top: 0;
}
.burger__line_third{
    bottom: 0;
}
.burger__line_second{
    top: 50%;
    transform: translateY(-50%);
}
/* Burger styles end*/
/* Intro styles start*/
.intro__wrapper {
    margin-top: 101.49px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items:center;
    padding-top: 100px;    
}
.intro__left {
    margin-top: 25.16px;      
}
.intro__pic {
    position: relative;
    right: -67px;
}
.intro__title {
    font-weight: 500;
    font-size: 50px;
    line-height: 70px;
    color: #0B132A;
    margin-bottom: 20px;
}
.intro__title span {
    font-weight: 600;
}
.intro__subtitle{
    font-weight: 400;
    line-height: 30px;
    color: #4F5665;
    margin-bottom: 50px;
}
.intro__subtitle span {
    font-weight: 600;
}
.get_started__submit {
    padding: 17.5px 77.5px ;
    background: #F53838;
    border-radius: 10px;
    font-weight: 700;
    color: #FFFFFF; 
    border: 0;
    box-shadow: 5px 3px 20px 0px #F53838;
    transition: 0.5s;
    margin-bottom: 19px;   
}
.get_started__submit:hover, .get_started__submit:focus, .get_started__submit:active{
    background: #f36e6e;
    box-shadow: inset 0 0 0 2px #F53838;
    transition: 0.5s;   
}
.intro__footer { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;  
    margin-top: 104.5px;
    background: #FFFFFF;
    border-radius: 10px;
    align-items: center;
    padding: 37.21px 91px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.intro__footer-items {
    display: flex;
    flex-wrap: wrap;  
}
.intro__footer-item {
    width: 55px;
    height: 55px;
    background: #FFECEC;
    border-radius: 100%;
    text-align: center;
    border: 2px solid #EEEFF2;   
}
.intro__footer-item img {
    padding-top: 33.3333333333%;
    padding-bottom: 33.3333333333%;   
}

.rotl {
    border-radius: 50%;
    -webkit-transition: -webkit-transform .8s ease-in-out;
            transition:         transform .8s ease-in-out;
  }
.rotl:hover {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
.rot {
    animation: 1s linear 0s normal none infinite running rot;
    -webkit-animation: 2s linear 0s normal none infinite running rot;   
  }
  @keyframes rot {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes rot {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
.intro__footer-texts {
    margin-left: 36.5px;
}
.intro__footer-titles {
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #0B132A;   
}
.intro__footer-subtitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #4F5665;
}
/* Intro styles end*/
/* Features styles start*/
.features__feature{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 0 108px;
    align-items: center;
    margin-bottom: 135px;
    margin-top: 95.83px;
}
.feature__info{
   padding-left: 47px;
}
.feature__title{
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    margin-bottom: 20px;
    color: #0B132A;
}
.feature__desc{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
}
.feature__info-like {
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #4F5665;
    padding: 7.5px 0 ;
}
/* Features styles end*/
/* Pricing styles start*/
.wrapper__pricing {
    background: #F6F6F6;   
}
.pricing__items {
    padding-top: 80.27px;
}
.pricing__title {
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    text-align: center;
    color: #0B132A;
    margin-bottom: 20px;
}
.pricing__subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #4F5665;
    margin-bottom: 34px;
}
.pricing__contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 26px;
}
.pricing__content {
    background: #FFFFFF;
    border: 2px solid #DDDDDD;
    border-radius: 10px;
    padding: 60px 50px;
    margin-bottom: 25px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    justify-content: space-between;
}
.pricing__content-pic {
    margin-bottom: 30px;
}
.pricing__content-group {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;     
}
.pricing__content-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #0B132A;
    margin-bottom: 30px;
    text-align: center;
}
.pricing__content-like {
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #4F5665;
    margin-bottom: 10px;
}
.pricing__content-like img {
    margin-right: 25px;
}
.pricing__content-group {
    text-align: left;
}
.pricing__footer-title {
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    color: #0B132A;
    margin-top: 50px;
}
.pricing__footer-subtitle {
    color: #4F5665;   
}
.pricing__button {
    width: 177.88px;
    height: 45px;
    border: 2px solid #F53838;
    border-radius: 50px;
    background: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #F53838;
    margin-top: 20px;
    transition: 0.5s;
}
.pricing__button:hover, .pricing__button:focus, .pricing__button:active{
    background: #F53838;
    color: white;
    width: 70%;
    border: 2px solid #4F5665;    
}
.pricing__content:hover, .pricing__content:focus {
    border: 2px solid #F53838; 
}
.pricing__maps-items {
    margin-top: 100px;
}
.pricing__global-pic {
    margin-top: 121.81px;
}
.pricing__sponsored-pic {
    margin-top: 35.81px;
}
/* Pricing styles end */
/* Testimonials styles start */
.testimonials__container {
    margin-top: 50px;
    background: #F6F6F6;
}
.testimonials__header-title {
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    text-align: center;
    color: #0B132A;
    margin-bottom: 20px;
}
.testimonials-subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #4F5665;
    margin-bottom: 60px;
}
.testimonials__slider-container {    
    margin-top: 30px;   
}
.itc-slider__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .itc-slider__item {
    display: flex;
    flex-wrap: wrap;
    max-width: 370px;
    background: #FFFFFF;
    border: 2px solid #DDDDDD;
    border-radius: 10px;
    padding: 15px;
    margin: 5px;
  }
.itc-slider__item:hover {
    border: 2px solid #F53838;
  }

.header__item-card {
    display: flex;
    flex-wrap: wrap;
}
.header__item-card-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}  
.itc-slider__indicators {
    display: flex;
}  
.itc-slider__indicator {
    width: 15px;
    height: 15px;
    background: #DDE0E4;
    border-radius: 50%;
}
.header__humans {  
    margin-left: 20px;
}
.humans-name {
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #0B132A;
}
.humans-home {
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #4F5665;
}
.humans-stars {
    padding-left: 90px;
}
.itc-slider__item-coments {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #0B132A;
    padding-top: 15px;
}
.slider__footer {
    align-items: center;
    margin-top: 60px;
    margin-bottom: 120px;
}
.itc-slider__indicators {
    float: left;
    margin-top: 24px;
}
.itc-slider__indicator {
    margin-left: 10px;
}
.itc-slider__indicators-in {
    width: 30.14px;
    height: 15px;
    background: #F53838;
    border-radius: 40%;
}
.slider__btn {
    float: right;
}
.itc-slider__btn:hover {
    border: 2px solid #4F5665;
}
.itc-slider__btn-next:hover {
    border: 2px solid #4F5665;
}
.itc-slider__btn {
    border: 2px solid #F53838;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #F6F6F6;
    box-shadow: 0 5px 15px #F53838, 0 10px 10px white;
}
.itc-slider__btn-next {
    border: 2px solid #F53838;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #F53838;
    box-shadow: 0 5px 15px #F53838, 0 10px 10px white;
}
.testimonials__footer {
    background: #FFFFFF;
    border-radius: 10px;
    position: relative;
    bottom: -116px;
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: space-between;
    padding: 58.5px 70px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.testimonials__footer-title {
    font-weight: 500;
    font-size: 35px;
    line-height: 45px;
    color: #0B132A;
}
.testimonials__footer-subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    align-items: center;
    color: #4F5665;
    margin-top: 20px;
}
.testimonials__footer-button {
    width: 250px;
    height: 60px;
    background: #F53838;
    border-radius: 10px;
    border: 2px solid #F53838;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
    box-shadow: 5px 3px 20px 0px #F53838; 
    transition: 0.5s; 
}
.testimonials__footer-button:hover, .testimonials__footer-button:focus {   
    border: 2px solid #4F5665; 
}
     
/* Testimonials styles end */

/* Footer styles start */

.footer {
    width: 100%;
    background: #eceaea;
}
.footer__item {
    padding-top: 183.12px;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    padding-bottom: 90px;
}
.footer__menu-item {
    margin-bottom: 10px;
}
.footer__logo{
    width: 50%;
    display: flex;
    align-items: baseline;   
}
.footer__logo-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #0B132A;
    margin-left: 10px;
}
.footer__logo-name span{
    font-weight: 510;
}

.footer__nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50%;
}

.footer__menu-title{
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #0B132A;
    margin-bottom: 20px;
}
.footer__menu-link{
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
    text-decoration: none;
    color: #4F5665;
    margin-bottom: 10px;
}
.footer__menu-link:hover, .footer__menu-link:focus, .footer__menu-link:active{
   opacity: .75; 
}
.footer__subtitle {
    width: 65%;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
    margin-top: 26px;   
}
.footer__social img {
    background: #F53838;
    border-radius: 50%;
    margin: 30px 30px 0 10px;
    box-shadow: 0 5px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.footer__date {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #AFB5C0;
    margin-top: 30px;
}
/* Footer styles end*/

/* Media styles start*/
@media screen and (max-width: 960px) {
.sign-form {
            margin-top: 20px;
}
.intro__title {
            font-weight: 500;
            font-size: 45px;
            line-height: 50px;
}
.intro__pic {
            width: 50%;
            position: absolute;
            left: 50%;
}
.intro__footer {
            font-size: 30px;
            padding: 15px;    
}
.pricing__items {
            padding-top: 50px;
}
.pricing__contents {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
}
.pricing__content {
            padding: 10px 10px;
            margin: 0px 5px; 
}
.pricing__content-like img {
            margin-right: 2px;
}
.pricing__button {
            width: 60%;
}
.testimonials__footer {
            display: flex;
            justify-content: center;
}
.testimonials__footer-button {
            margin-top: 50px;
}
.footer__menu {
            margin-right: 10px;
}
.footer__logo-pic {
            width: 50px;
            height: 30px;
}
    }

@media screen and (max-width: 767px) {

.intro__wrapper {
    margin-top: 0;
}    
.header__burger {
        display: block;
}
.header__wrapper {
        padding-top: 28px;
    }
.header__nav{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background: #eceaea;
        z-index: 10;
        padding: 75px;
        transform: translateX(100%);
        transition: .2s all linear;
    }
    .header__nav_active{
        transform: translateX(0);
    }


    .header__item{
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
    }
    .header__item:last-child{
        margin-bottom: 0;
    }

    .header__link{
        font-size: 42px;
        line-height: 48px;
    }
    .header__nav-close{
        width: 40px;
        height: 40px;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 11;
    }
    .header__nav-close-line{
        display: block;
        width: 100%;
        height: 2px;
        background-color: #F53838;
        position: absolute;
        top: 50%;     
    }
    .header__nav-close-line:first-child{
        transform: translateY(-50%) rotate(45deg);
    }
    .header__nav-close-line:last-child{
        transform: translateY(-50%) rotate(-45deg);
    }

    .intro {
        padding-top: 80px;
    }
    .intro__title {
        font-size: 32px;
        line-height: 48px;
    }

    .intro__subtitle {
        font-size: 14px;
    }

    .get_started__submit {
        width: 100%;
        margin-right: 0;
        padding-bottom: 12px;
        font-size: 13px;
        line-height: 25px;     
    }

    .get_started__submit::placeholder {
        font-size: 16px;    
    }
.intro__footer-texts {
    margin-left: 5px;
}
.intro__footer-titles {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}
.intro__footer-subtitle {
    font-size: 18px;
    line-height: 22px;
}
.pricing__contents {
    display: flex;
    flex-direction: column;
}
.pricing__content-group {
    align-content: center;
}
    .footer__logo {
        width: 100%;
        margin-bottom: 12px;
    }
    .footer__nav {
        width: 100%;
    }
    .footer__menu{
        width: 30%;
        margin-bottom: 24px;
    }
}
/* Footer styles end*/